@charset "UTF-8";
/* ======== base style ===== */
html{
 overflow-y: scroll;
}

body{
	font-size: 1.6rem;
	line-height:1.75em;
}

.searchbox{
	position: relative;
}

.searchbox input[type="text"]{
	border: 2px solid $color-blue-deep;
	background-color: $color-blue-deep;
	border-radius: 1em;
	display:block;
	width: 100%;
}

.searchbox input[type="submit"]{
	cursor: pointer;
	right: 10px;
	top: 5px;
	box-sizing: border-box;
	outline: none;
	box-shadow: none;
	appearance: button;
	-webkit-appearance: button;
	display:block;
	position: absolute;
	font-size: 0;
	color: $color-blue;
	width: 17px;
	height: 17px;
	border: 0;
	border-style:none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../images/common/search-white.svg");
	background-color: transparent;
}

main{
	padding-top: 54px;
}

.label-inline{
	font-size:1.3rem;
}

.one-column{
	padding-top: 0;
}

.main > .content > .row{
	width: 1122px;
	max-width: 100%;
}

.main .one-column .row{
	width: 1122px;
	max-width: 100%;
}

.main main.one-column .one-column-inner {
		padding: 60px 0 50px;
}

.main ul li:before{
	content: normal;
}

.main .nav-content{
	background-color: transparent;
}

.main .nav-content ul{
	flex-wrap: wrap;
}

.main .nav-content ul li{
	width:258px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.main .nav-content ul li:nth-child(3n){
	margin-right: 0;
}

.main .nav-content ul li a{
	border: none;
	background-color: #ccc;
}

.tab-content {
	.tab-element {
		padding-bottom: 70px;
	}
}

.letter-spacing-s{
	letter-spacing: -0.05em !important;
}

.letter-spacing-xs{
	letter-spacing: -0.1em !important;
}

html:not(.sp) .main h2 a:hover,
html:not(.sp) .main h3 a:hover,
html:not(.sp) .main h4 a:hover,
html:not(.sp) .main h5 a:hover,
html:not(.sp) .main h6 a:hover,
html:not(.sp) .main .heading0 a:hover,
html:not(.sp) .main .heading1 a:hover,
html:not(.sp) .main .heading2 a:hover,
html:not(.sp) .main .heading3 a:hover,
html:not(.sp) .main .heading4 a:hover,
html:not(.sp) .main .heading5 a:hover,
{
	color: $color-blue;
}
.main{
	.pt30{
		padding-top: 30px;
	}
	.pt50{
		padding-top: 50px;
	}
}

@media screen and (max-width: 1199px){
	.main > .content > .row{
		max-width: calc( 100% - 40px );
	}
	.main .one-column .row{
		max-width: calc( 100% - 40px );
	}
	.sp-none{
		display: none !important;
	}
}

@media screen and (max-width: 767px){
	.main > .content > .row{
		max-width: calc( 100% - 30px );
	}
	.main .one-column .row{
		max-width: calc( 100% - 30px );
	}
}