@charset "UTF-8";
/* ======== parts style ===== */
%panels{
	h1{
		font-size: 2rem;
		margin-bottom: 20px;
	}
	h2{
		font-size: 2rem;
		margin-bottom: 20px;
	}
	h3{
		font-size: 2rem;
		margin-bottom: 20px;
	}
	h4{
		font-size: 2rem;
		margin-bottom: 20px;
	}
	h5{
		font-size: 2rem;
		margin-bottom: 20px;
	}
	h6{
		font-size: 2rem;
		margin-bottom: 20px;
	}
	.txt{
		position: relative;
	}
}
%panel-arrow{
	&:after{
		content: "";
		display: block;
		position: absolute;
		right: 25px;
		bottom: 20px;
		@include icon-arrow();
		@include txt-hover();
	}
	&:hover:after{
		right: 20px;
	}
}
%panel-label{
	position: absolute;
	display: block;
	left: 30px;
	top:-7px;
	z-index: 30;
	max-width: calc(100% - 60px);
	span{
		font-size: 1.8rem;
		font-family: 'Noto Sans Japanese';
		font-weight: 700;
		padding: 8px 15px;
		z-index: 31;
		word-break: break-word;
	}
}
@mixin panel-2column() {
	width: calc(50% - 15px);
	margin-right: 15px;
}
@mixin panel-1column() {
	width: calc(100% - 15px);
	margin-right: 15px;
}
.link-arrow{
	&:after{
		content: "";
		display: inline-block;
		@include icon-arrow();
		@include txt-hover();
		margin-right: 5px;
	}
	&:hover:after{
		margin-left: 10px;
	}
}

.link-pdf{
	&:after{
		content: "";
		display: inline-block;
		@include icon-pdf();
		@include txt-hover();
		margin-right: 5px;
		margin-left: 5px;
	}
}

.link-download{
	&:after{
		content: "";
		display: inline-block;
		@include icon-download();
		@include txt-hover();
		margin-right: 5px;
		margin-left: 5px;
	}
}

.link-outbound{
	&:after{
		content: "";
		display: inline-block;
		@include icon-outbound();
		@include txt-hover();
		margin-right: 5px;
		margin-left: 5px;
	}
}

/* ボタン setting */
%btn-ghost-gray {
  padding: 10px 20px 10px 20px;
	color: #222;
	border: solid 1px #999;
	background-color: transparent !important;
}

.main .btn {
	.ghost-gray {
		@extend %btn-ghost-gray;
			margin-right: 0;
	}
	.ghost-gray.col1-2,
	.ghost-gray.col1-3,
	.ghost-gray.col1-4{
				margin-right: 30px;
	}
	.col1-4{
		min-width:	inherit;
	}
	.ghost-gray.link-arrow,
  .ghost-gray.link-pdf,
  .ghost-gray.link-download,
  .ghost-gray.link-outbound{
    padding: 10px 30px 10px 20px;
		&::after {
			position: relative;
			right: -10px;
			margin-right: 0;
		}
	}
	.ghost-gray{
		&:hover {
			color:$color-white;
			background-color: $color-blue !important;
			border-color: $color-blue;
		}
	}
	.ghost-gray.link-arrow,
  .ghost-gray.link-pdf,
  .ghost-gray.link-download,
  .ghost-gray.link-outbound{
		&:hover {
			color:$color-white;
			background-color: $color-blue !important;
			border-color: $color-blue;
		}
		&:hover::before {
			content: normal;
		}
		&:hover::after {
			right: -15px;
			margin-left: 0;
		}
	}
	.ghost-gray.col1-2.link-arrow,
	.ghost-gray.col1-3.link-arrow,
	.ghost-gray.col1-4.link-arrow,
  .ghost-gray.col1-2.link-pdf,
	.ghost-gray.col1-3.link-pdf,
	.ghost-gray.col1-4.link-pdf,
  .ghost-gray.col1-2.link-download,
	.ghost-gray.col1-3.link-download,
	.ghost-gray.col1-4.link-download,
  .ghost-gray.col1-2.link-outbound,
	.ghost-gray.col1-3.link-outbound,
	.ghost-gray.col1-4.link-outbound{
		&:after{
			position: absolute;
			right: 20px;
			top: 50%;
		}
	}
  .ghost-gray.col1-2.link-pdf,
	.ghost-gray.col1-3.link-pdf,
	.ghost-gray.col1-4.link-pdf,
  .ghost-gray.col1-2.link-download,
	.ghost-gray.col1-3.link-download,
	.ghost-gray.col1-4.link-download,
  .ghost-gray.col1-2.link-outbound,
	.ghost-gray.col1-3.link-outbound,
	.ghost-gray.col1-4.link-outbound{
		&:after{
			top: 28%;
		}
	}
	.ghost-gray.col1-2.link-arrow:hover,
	.ghost-gray.col1-3.link-arrow:hover,
	.ghost-gray.col1-4.link-arrow:hover{
		&:after{
			right: 15px;
		}
	}
	.ghost.bg-blue {
		@extend %btn-ghost-gray;
	}

	.current{
		color:$color-white;
		background-color: $color-blue !important;
		border-color: $color-blue;
		cursor: default;
		&:hover{
		color:$color-white !important;
		}
		&:hover::before{
			content: normal !important;
		}
	}
	.current.link-arrow,
  .current.link-pdf,
  .current.link-download,
  .current.link-outbound{
		&::after{
			content: normal !important;
		}
	}
}

@media screen and (max-width: 1199px), print{
	.main .btn .ghost-gray.col1-2,
	.main .btn .ghost-gray.col1-3,
	.main .btn .ghost-gray.col1-4{
			margin-right: 20px;
	}
}

/* 1カラムページ調整 */
.main{
	main.one_column .one_column-inner {
	padding: 60px 0 50px;
	}
}

	/* パネル */
	/* パネルタイプA */
.main .panels-type-a .panel-vertical > a .txt:before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	-moz-transition: opacity .2s linear;
	-wenkit-transition: opacity .2s linear;
	transition: opacity .2s linear;
}

.main{
	.panels-type-a{
		@extend %panels;
		.panel-vertical{
				@include flex-stretch;
			background: transparent;
			a{
				width: 100%;
				display: flex;
				flex-wrap: nowrap;
				@include flex-stretch;
				&:before{
					background:transparent;
				}
				.img{
					position: absolute;
					width: 100%;
				}
				.txt{
					width: calc( 100% - 40px );
					min-width: calc( 100% - 40px );
					background: $color-gray-light;
					padding: 40px 30px 20px;
					margin-left: 20px;
					margin-top: 50%;
					box-sizing: border-box;
					@extend %panel-arrow;
					.label{
						@extend %panel-label;
						span{
							background-color: $color-blue;
						}
					}
				}
				.txt.haslabel{
					padding: 55px 30px 20px;
				}
				&:hover{
					.txt{
						background-color: $color-gray;
					}
				}
			}
		}
		p{
			font-size: 1.4rem;
		}
	}
}
.main .bg-gray .panels-type-a .panel-vertical a .txt{
	background-color: $color-white;
}
.main .bg-gray .panels-type-a .panel-vertical a:hover .txt{
	background-color: $color-gray-light;
}

	.panels-type-a .panel-vertical {
		margin-bottom: 60px;
	}

	/* パネルタイプb */
.main{
	.panels-type-b,
	.panels-type-b-02 {
		.col1-3,
		.col1-2{
			@include flex-stretch;
			margin-bottom:30px;
			background: #fff;
			a {
				@include flex-stretch;
				position: relative;
				width: 100%;
				text-decoration: none;
				overflow: hidden;
				background-color: #f8f8f8;
				&::before {
					display: block;
					position: absolute;
					left: -125%;
					top: 0;
					width: 200%;
					height: 100%;
					background: $color-blue;
					opacity: .03;
					transform: skewX(-20deg);
					transition: all .3s;
					content: "";
				}
				.txt {
					padding: 50px 52px 0;
					&::after {
						display: block;
						position: absolute;
						right: 25px;
						bottom: 20px;
						background-image: url(../images/common/arrow.svg);
						background-size: contain;
						background-repeat: no-repeat;
						width: 25px;
						height: 6px;
						transition: all 0.3s;
						content: "";
					}
					h2.heading2 {
						margin-bottom: 20px;
					}
				}
			}
			a:hover {
				&::before {
					left: -45%;
				}
				.txt {
					&::after {
						right: 20px;
					}
				}
			}
		}
		p {
			font-size: 1.4rem;
			line-height: 1.65em;
			color: $color-black-light;
		}
	}
}
	.main {
		.panels-type-b .col1-3 {
			min-height: 209px;
		}
	}

.main{
	.panels-type-b-02 {
		.col1-3,
		.col1-2{
			min-height: 100px;
			a{
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;

				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				.txt {
					@include flex-center;
					width: 100%;
					height: 100%;
					padding: 20px 52px;
					h2.heading2 {
						margin-bottom: 0;
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}

.main .bg-gray .panels-type-b .col1-3 a,
.main .bg-gray .panels-type-b .col1-2 a,
.main .bg-gray .panels-type-b-02 .col1-3 a,
.main .bg-gray .panels-type-b-02 .col1-2 a{
	background: #FFF;
}


	/* パネルタイプc */
.main{
	.panels-type-c {
		.panel-horizontal {
			@include flex-stretch;
			margin-bottom: 80px;
			background: transparent;
			overflow: visible;
			a{
				@include flex-stretch;
				/*
				-webkit-box-align: flex-start;
				-ms-flex-align: flex-start;
				-webkit-align-items: flex-start;
				align-items: flex-start;
				*/
			}

			.img {
				width: 40%;
				z-index: 0;
				height: 223px;
				overflow: hidden;
			}

			.txt {
				right: 0;
				width: calc( 60% + 30px );
				margin-top: 20px;
				padding: 45px;
				background: #fff;
				z-index: 1;
				margin-left: -30px;
				&:before{
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: #000;
					opacity: 0;
					-moz-transition: opacity .2s linear;
					-wenkit-transition: opacity .2s linear;
					transition: opacity .2s linear;
				}
				&::after {
					display: block;
					position: absolute;
					right: 25px;
					bottom: 20px;
					background-image: url(../images/common/arrow.svg);
					background-size: contain;
					background-repeat: no-repeat;
					width: 25px;
					height: 6px;
					transition: all 0.3s;
					content: "";
				}
				h2.heading2 {
					margin-bottom: 20px;
				}
			}
			a:hover {
				.txt {
					background-color: $color-gray;
					&::after {
						right: 20px;
					}
				}
			}
		}
	}
	.tab-content	{
		.tab-element {
			.panels-type-c .panel-horizontal:last-child,
			.panels-type-c .panel-horizontal:nth-last-child(2)	 {
				margin-bottom: 40px;
			}
		}
	}
}
.main .panels-type-c .panel-horizontal::before,
.main .panels-type-c .panel-horizontal > a::before {
	height: auto !important;
}

.main .bg-gray .panels-type-c .panel-horizontal a:hover .txt{
	background-color: $color-gray-light;
}


/* 汎用アコーディオン */

.main {
	.accordion {
		.accordion-btn {
			position: relative;
			width: 100%;
			padding: 22px 40px 20px !important;
			background: #ddd;
			transition: all .3s;
			cursor: pointer;

			span {
				position: absolute;
				top: 0;
				right: 20px;
				bottom: 0;
				width: 33px;
				height: 33px;
				margin: auto;
				background: #515151;
				border: 1px solid #515151;
				border-radius: 50%;

				&::before {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 2px;
					height: 14px;
					margin: auto;
					background: #fff;
					content: "";
					transition: all .3s;
				}
				&::after {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 14px;
					height: 2px;
					margin: auto;
					background: #fff;
					content: "";
				}
			}
			span.active {
				&::before {
					transform: rotate(90deg);
				}
			}
		}
		.accordion-btn:hover {
			background: $color-blue;
			color: #fff;
			span {
				background: transparent;
				border: 1px solid #fff;
			}
		}
		.accordion-content {
			display: none;
			width: 100%;
			margin: 0;
			padding: 40px;
			background-color: $color-gray-light;
		}
	}
}

/* 汎用アコーディオン Q&A */
.main {
	.q-and-a {
		margin-bottom: 30px;
		.accordion-btn {
			padding: 22px 60px 20px 20px !important;
			border-left: solid 60px $color-blue;
			&:before{
				display:inline-block;
				position: absolute;
				top: 16px;
				left: -43px;
				height: 3rem;
				content: "Q";
				font-size: 3rem;
				color: #FFF !important;
				font-family: 'Noto Sans Japanese';
				font-weight: 500;
			}
		}
		.accordion-content {
			padding-left: 80px;
			&:before{
				display:inline-block;
				height: 3rem;
				content: "A";
				font-family: 'Noto Sans Japanese';
				font-weight: 700;
				font-size: 3rem;
				margin-left: -58px;
				margin-right: 40px;
				color: $color-blue;
				vertical-align: bottom;
			}
		}
	}
}


@media screen and (max-width: 1199px){
	.main{
		.tab-element{
			padding-top: 30px;
		}
		.panels-type-a{
			width: 100%;
		}
		.panels-type-c{
			.panel-horizontal {
				.img{
					height: calc( ( 218 / 1122 ) * 100vw );
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.main .panels-type-a .panel-vertical{
		margin-bottom: 50px;
		@include panel-2column();
		a{
			width: 100%;
		}
		.img{
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	.main {
		.panels-type-b,
		.panels-type-b-02 {
			.col1-3,
			.col1-2{
				margin-bottom: 15px;
			}
		}
	}
	.main{
		.panels-type-c {
			.panel-horizontal {
				a{
					display: flex;
				}
				.img{
					height: calc( ( 318 / 1122 ) * 100vw );
					width: 30% !important;
					img{
						width: 100% !important;
					}
				}
				.txt{
					width: calc( 70% + 30px ) !important;
					min-height: 100%;

				}
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.main .panels-type-a .panel-vertical{
		@include panel-1column();
		a{
			.txt{
				min-height:auto;
			}
		}
	}
	.main{
		.panels-type-c {
			.panel-horizontal {
				a{
					display: flex;
				}
				.img{
					height: calc( ( 518 / 1122 ) * 100vw );
					width: 50% !important;
					img{
						width: 100% !important;
					}
				}
				.txt{
					width: calc( 50% + 30px ) !important;
					min-height: 100%;

				}
			}
		}
	}
}


	/* 商品検索 */
.main{
	.searchboxarea {
		.row {
			@include flex-wrap();
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;

			padding-top: 80px;
		}
		h2.heading2 {
			display: inline-block;
			width: 25%;
			margin: 7px 0 0 0;
			font-weight: normal;
			color: #fff !important;
			text-align: center;
		}
		.products.searchbox {
			width: calc(100% - 25%);
			input[type="text"] {
				padding: 13px 55px 13px 25px;
				border: 2px solid #fff;
				background: #fff;
				border-radius: 25px;
				font-size: 1.4rem;
			}
			input[type="text"]:focus {
				outline: 0;
			}
			input::-webkit-input-placeholder,
			input:-moz-placeholder,
			input::-moz-placeholder,
			input:-ms-input-placeholder {
				font-size: 1.125rem;
			}
			input[type="submit"] {
				top: 10px;
				right: 20px;
				width: 25px;
				height: 27px;
				background-image: url(../images/common/search-blue.svg);
			}

		}
	}
}

/* 関連商品 */
.main .suggestlinks{
	padding: 60px 0 20px;
	background: #ededed;
}
.main .suggestlinks .panels-type-a .panel-vertical a .txt{
	background-color: #FFF;
}
.main .suggestlinks .panels-type-a .panel-vertical a:hover .txt{
	background-color: #f8f8f8 !important;
}
.main .suggestlinks	.panels-type-a .panel-vertical a .txt .label span{
	font-size: 1.3rem;
}

.main .suggestlinks	.panels-type-a .panel-vertical a .txt .heading2{
	font-size: 1.6rem;
}


/*汎用エラーメッセージ*/
.error{
	color:#f2646e;
	font-weight: bold;
}

	.main {
		/* 商品に関するお問い合わせ */
		.conversion-area {
			width: 100%;
			height: auto;
			padding: 70px 0 80px;
			background: url(../images/products/details/bg-conversion.jpg) no-repeat center;
			background-size: cover;
			color: #fff;
			text-align: center;
			a {
				color: #fff;
			}
			a:hover {
				color: #fff !important;
				text-decoration: underline !important;
			}

			.contact-btn {
				@include flex-wrap();
				@include flex-center();
				width: 100%;
				margin: 0 auto;
				padding-top: 20px;

				a {
					@include flex-center();
					-webkit-flex-direction: column;
					flex-direction: column;
					position: relative;
					width: 100%;
					height: 160px;
					padding: 15px;
					font-weight: normal;
					text-decoration: none;
					z-index: 2;

					&::before {
						display: block;
						position: absolute;
						left: 0;
						width: 100%;
						height: 100%;
						transform: skewX(-20deg);
						content: "";
						transition: all .3s;
						z-index: -1;
					}
				}

				.contact-tel {
					max-width: 540px;
					width: 50%;

					.inner {
						@include flex-center();
						-webkit-flex-direction: column;
						flex-direction: column;
						position: relative;
						width: 100%;
						height: 160px;
						padding: 15px;
						font-weight: normal;
						text-decoration: none;
						z-index: 2;

						&::before {
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background: #1f1c6d;
							transform: skewX(-20deg);
							content: "";
							transition: all .3s;
							z-index: -1;
						}
					}
					.roboto {
						position: relative;
						padding-left: 0;
						font-size: 5.4rem;
						font-weight: 100;

						&::before {
							display: block;
							position: absolute;
							top: -10px;
							left: -50px;
							width: 35px;
							height: 47px;
							background: url(../images/products/details/icon-tel.svg) no-repeat center;
							background-size: contain;
							content: "";
						}
					}
				}
				.contact-form {
					max-width: 540px;
					width: 50%;
					a {
						font-size: 3rem;
						font-weight: normal;
						box-sizing: border-box;

						&::before {
							background: $color-btn;
							top:0;
						}
						span {
							position: relative;
							padding-left: 60px;
							&:after{
								//先読み
								content: url(../images/products/details/icon-form-on.svg);
								height: 0 !important;
								width: 0 !important;
								display: inline-block;
							}
							&::before {
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 38px;
								height: 28px;
								background: url(../images/products/details/icon-form.svg) no-repeat center;
								background-size: contain;
								content: "";
							}
						}
						&:hover{
							text-decoration: none !important;
							&:before{
								background-color:$color-white;
							}
							span{
								color:$color-orange;
								font-weight: 700;
								&::before{
									background-image:url(../images/products/details/icon-form-on.svg);
								}
							}
						}
					}
				}
			}
			.contact-btn .contact-tel a::after,
			.contact-btn .contact-form a::after {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #fff;
				transform: skewX(-20deg);
				content: "";
				transition: all .3s;
				z-index: -2;
			}
			.contact-btn a:hover::before {
				opacity: .9;
			}

		}
	}

	/* 2カラム時 : お問い合わせ */

	.main {
		main.col3-4 {
			.conversion-area {
				width: 100%;
				height: auto;
				padding: 50px 0 60px;
				background: url(../images/products/brand/fkd/bg-conversion.jpg) no-repeat center;
				background-size: cover;
				color: #fff;
				text-align: center;
				a {
					color: #fff;
				}
				a:hover {
					color: #fff !important;
				}
				.conversion-area-inner {
					padding: 0 2vw;

					h2 {
						margin-bottom: 25px;
					}
				}
				.contact-btn {
					.contact-tel {
						max-width: 360px;
						.inner {
							height: 107px;
							p {
								margin-bottom: 5px;
								font-size: 1.2rem;
							}
							.roboto {
								font-size: 3.6rem;
								&::before {
									top: 0;
									left: -35px;
									width: 24px;
									height: 32px;
								}
							}
						}
					}
					.contact-form {
						max-width: 360px;
						a {
							height: 107px;
							font-size: 2rem;
							span {
								padding-left: 45px;
								&::before {
									top: 6px;
									width: 25px;
									height: 18px;
								}
							}
						}
					}
				}
			}
		}
	}





	// 商品に関するお問い合わせ　レスポンシブ

	@media screen and (max-width: 1190px) {
		.main .conversion-area .contact-btn {
			padding: 20px 2.5vw 0;
		}
	}
	@media screen and (max-width: 1121px) {
		.main .conversion-area .contact-btn .contact-tel .roboto {
			font-size: 4.5rem;
			&::before {
				top: -5px;
				left: -42px;
				width: 30px;
				height: 40px;
			}
		}

		/* 2カラム時 */
		.main {
			main.col3-4 .conversion-area .contact-btn .contact-tel .inner .roboto {
				font-size: 3rem;
				&::before {
					left: -30px;
					width: 20px;
					height: 30px;
				}
			}
		}



	}
	@media screen and (max-width: 980px) {
		.main .conversion-area .contact-btn {
			.contact-tel {
				.inner {
					height: 140px;
				}
				p {
					margin-bottom: 13px;
				}
				.roboto {
					padding-left: 30px;
					font-size: 3.8rem;
					&::before {
						top: -3px;
						left: -8px;
						width: 25px;
						height: 35px;
					}
				}
			}
			.contact-form {
				a {
					height: 140px;
					font-size: 2.2rem;
					span {
						padding-left: 50px;
						&::before {
							width: 34px;
							height: 24px;
						}
					}
				}
			}
		}

		/* 2カラム時 */
		.main {
			main.col3-4 {
				.conversion-area .contact-btn {

					.contact-tel .inner {
						.roboto {
							padding-left: 24px;
							font-size: 2.6rem;
							&::before {
								top: 3px;
								left: 0;
								width: 18px;
								height: 24px;
							}
						}
					}
					.contact-form a {
						font-size: 1.6rem;

						span {
							padding-left: 30px;
							&::before {
								top: 7px;
								width: 22px;
								height: 15px;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		.main {
			.conversion-area {
				padding: 50px 0 55px;

				h2:not([class*="heading"]),
				.heading0,
				.heading1 {
					margin-bottom: 30px;
					font-size: 2.6rem;
				}
				.contact-btn {
					padding: 20px 0 0;
					.contact-tel .inner,
					.contact-form a {
						width: 100%;
						height: 110px;
						font-size: 2rem;

						&::before,
						&::after {
								transform: skewX(0deg);
						}
					}
					.contact-tel {
						width: 100%;
						p {
							font-size: 1.5rem;
						}
						.roboto {
							padding-left: 35px;
							font-size: 3.3rem;
							&::before {
								top: 0;
								left: 0;
								width: 22px;
								height: 30px;

							}
						}
					}
					.contact-form {
						width: 100%;
						a {
							span {
								padding-left: 45px;
								&::before {
									top: 4px;
									width: 30px;
									height: 20px;
								}
							}
						}
					}
				}
			}
		}
		/* 2カラム時　*/
		.main main.col3-4 .conversion-area {
			padding: 40px 0 50px;
			.conversion-area-inner {
				padding: 0 15px;
			}
		}
		.main main.col3-4 .conversion-area p br {
			display: none;
		}
		.main main.col3-4 {
			.conversion-area {
				.contact-btn {
					.contact-tel .inner {
						height: 95px;
						.roboto {
							font-size: 3rem;
						}
					}
					.contact-form a {
						height: 95px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 320px) {
		.main {
			.conversion-area {
				p {
					br {
						display: none;
					}
				}
				.contact-btn {
					.contact-tel {
						p {
							margin-bottom: 10px;
							font-size: 1.2rem;
						}
						.roboto {
							padding-left: 30px;
							font-size: 3rem;
							&::before {
								left: 0;
								width: 20px;
								height: 32px;
							}
						}
					}
					.contact-form {
						a {
							font-size: 1.8rem;
							span {
								padding-left: 35px;
								&::before {
									width: 24px;
									height: 20px;
								}
							}
						}
					}
				}
			}
		}
	}